<div id="section-footer" class="text-center">
    <div class="container">
        {% if page.id == 'home' %}
        {% else %}
        {% if page.id != 'home' %}
        <hr>
        {% endif %}
        <div class="row">
            <p class="lead">Need help on an upcoming web project? I'm interested in learning more. Let's build.</p>
            <div>
                <a class="btn btn-large btn-primary" href="" id="hero-cta-footer">Get in touch</a>
            </div>
        </div>

        <hr>
        {% endif %}

        <div class="row">
            <ul class="pull-right inline">
                <li>LinkedIn</li>
                <li>Github</li>
                <li>@mail</li>
            </ul>
            <p class="pull-left">All rights reserved. &copy; 2013 Brandon Scott</p>
        </div>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!--<script type="text/javascript" src="../assets/js/jquery.js"></script>-->
<script type="text/javascript" src="../assets/js/scrollMonitor.js"></script>
<script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>

<script type="text/javascript">
    var element = document.getElementById('hero-cta');
    var elementWatcher = scrollMonitor.create(element);

    elementWatcher.enterViewport(function() {
        $('.navbar .container').css({
            'border-bottom':'1px solid #D4D4D4'
        });
        $('.navbar').css({
            'border-bottom':'none'
        });
    });

    elementWatcher.exitViewport(function() {
        $('.navbar .container').css({
            'border-bottom':'none'
        });
        $('.navbar').css({
            'border-bottom':'1px solid #DDD'
        });
    });
</script>

</body>
</html>