* {
    font-weight: 300;
}

.btn.btn-default {
    background-color: #eee;
    color: #333;
}

.btn.btn-default:hover {
    background-color: #ddd;
}

li {
    line-height: 1.6em;
}

strong {
    font-weight: 600;
}

div[id^='section-'] {
    padding: 20px 0;
}

#section-projects {
    padding: 60px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    color: #fff;
    background-color: #08C;
}

#section-misc {
    background-color: #EEE;
}

.hero-unit.secondary {
    padding: 60px 60px 30px;
}

.hero-unit.secondary h1 {
    font-size: 45px;
}

/**
* Projects
**/

/**
* Resume
**/

div.resume h3 {
    margin-top: 0;
    padding-top: 0;
    line-height: 1.3;
}

div.resume .row {
    margin-bottom: 30px;
}

/**
* Footer
**/

div#section-footer .social,
div#section-footer .copyright {
    font-weight: 300;
}

div#section-footer .social a,
div#section-footer .copyrigh a {
    color: #333;
    font-weight: 300;
}

/**
* Media Queries
**/

@media (min-width: 480px) and (max-width: 979px) {

    .nav-collapse .nav > li > a,
    .nav-collapse .dropdown-menu a {
        font-weight: 400;
    }

    .navbar-fixed-top .navbar-inner,
    .navbar-fixed-bottom .navbar-inner {
        padding: 0;
    }

    .navbar-fixed-top .navbar-inner .container,
    .navbar-fixed-bottom .navbar-inner .container {
        padding: 8px 15px;
    }

    .hero-unit h1 {
        font-size: 40px;
    }

    .hero-unit img {
        margin-top: -40px;
    }

    .hero-unit.secondary h1 {
        margin-top: -30px;
    }
}

@media (max-width: 480px) {
    .nav-collapse .nav > li > a,
    .nav-collapse .dropdown-menu a {
        font-weight: 400;
    }

    .navbar-fixed-top .navbar-inner,
    .navbar-fixed-bottom .navbar-inner {
        padding: 0;
    }

    .navbar-fixed-top .navbar-inner .container,
    .navbar-fixed-bottom .navbar-inner .container {
        padding: 8px 15px;
    }

    .hero-unit h1 {
        font-size: 40px;
    }

    .hero-unit img {
        margin-top: -40px;
    }

    .hero-unit.secondary h1 {
        margin-top: -30px;
    }
}